.candidate{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 0.2em #d10f23;
    background-color: #D9DADE;
    border-radius: 0.5rem;
    color: black;
    border: 0.1rem solid #d10f23;
}

.candidate img{
    width: 16rem;
    height: 14rem;
    border-radius: 0.5rem;
}

.candidate-name{
    margin: 0.5em;
}

.candidate button{
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.5rem;
    border: 0.1rem solid #d10f23 ;
    color: black;
    cursor: pointer;
    background-color: #D9DADE;
}

.candidate button:hover{
    box-shadow: 0 0.5em 1em rgba(0, 0, 0, 0.2);
}