.candidate{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 0.5em;
    margin: 0.5em;
    box-shadow: 0 0 1em #00000022;
    background-color: azure;
    border-radius: 0.5rem;
    color: black;
}

.candidate img{
    width: 16rem;
    height: 14rem;
    border-radius: 0.5rem;
}

.candidate-name{
    margin: 0.5em;
}

.candidate button{
    padding: 0.5em 1em;
    margin: 0.5em;
    border-radius: 0.5rem;
    border: 0.1rem solid red ;
    color: black;
    cursor: pointer;
    background-color: white;
}